<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <title>Witaj</title>
    </head>
<body>
Hi, world!

<div>
    <p> Oto pikachu</p>
<img src="https://a.allegroimg.com/original/1196f4/c13377a34b4d93aaacceb63317c9/NAKLEJKA-NA-OKNO-LUSTRO-SZYBE-POKEMONY-PIKACHU", width="70px", height="70px">


    <p>A to skocznia w Planicy :D </p>
<img src="https://img.itinari.com/activity/images/original/ccaa24ff-9ba3-4556-bacb-8cc3a644473d-planica.jpg?ch=DPR&dpr=2.625&w=1200&h=800&s=e52cd0a45b22b7d9d8a7cd03d4beda5f", width="150px", height="100px">

</div>
</body>
</html>