<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>To jest druga strona</h1>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis augue erat, suscipit et tincidunt ornare, congue eget tellus. Maecenas at mollis lectus. Etiam id mauris a lectus consequat pellentesque. Morbi metus mi, sollicitudin a ante eget, accumsan venenatis ipsum. Sed accumsan vitae purus at luctus. Nam ac ante libero. Curabitur id ante ullamcorper, lobortis urna ut, semper nunc. Sed vulputate, metus varius pellentesque lacinia, eros augue finibus massa, ut placerat orci sapien ut lacus. In tellus enim, convallis nec sem id, iaculis consectetur mauris. Donec pharetra ex libero, at viverra sem porta in. Sed at ex convallis ex consequat sollicitudin nec id nunc. Vestibulum sit amet finibus lectus, sed hendrerit mi. Duis quis velit elit. Integer sed est dui.

Cras eget fermentum metus. Nunc ut ullamcorper nulla. Mauris condimentum maximus nulla sit amet cursus. Pellentesque turpis turpis, tincidunt ac eros sed, venenatis maximus turpis. Cras nisi ipsum, imperdiet at varius vitae, egestas in tortor. Morbi eget justo et ligula faucibus iaculis non ut tellus. Donec semper, justo non tincidunt finibus, lacus tortor euismod enim, id convallis augue nisi ut velit.

Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam ligula turpis, luctus at lacinia a, dignissim quis eros. Nam eget fringilla libero. Fusce molestie sem sit amet massa ultrices, eu rutrum sem pellentesque. In placerat sapien nisi, eu euismod leo pellentesque ac. Praesent eget risus ac nisl iaculis hendrerit non in felis. Vestibulum porta eu sem et fringilla. Praesent fringilla arcu eu ante tincidunt, sed pharetra felis consequat. Aenean nec ipsum non dolor feugiat porttitor. Etiam eu nisl vitae ante euismod lobortis. Ut ut varius mi. Nunc sit amet est est.

Vivamus commodo eget est non blandit. Fusce lacus elit, imperdiet et posuere non, posuere eu metus. Sed interdum viverra est a imperdiet. Maecenas tempor lectus justo, vitae elementum nisl interdum sed. Donec fermentum vel mi quis semper. Nulla eleifend ligula enim, vitae pharetra tellus posuere vitae. Suspendisse molestie aliquam massa, vestibulum molestie risus aliquam nec. Etiam pellentesque erat pellentesque urna placerat iaculis.

Suspendisse sit amet mollis dolor.

<!--<p>Przejdź do strony <a href="/links/first/">pierwszej</p>-->
<p>Przejdź do strony <a href="{% url 'links:third_name' 'abc' %}">trzeciej</p>

</body>
</html>