<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>To jest trzecia strona z parametrem {{param}}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis augue erat, suscipit et tincidunt ornare, congue eget tellus. Maecenas at mollis lectus. Etiam id mauris a lectus consequat pellentesque. Morbi metus mi, sollicitudin a ante eget, accumsan venenatis ipsum. Sed accumsan vitae purus at luctus. Nam ac ante libero. Curabitur id ante ullamcorper, lobortis urna ut, semper nunc. Sed vulputate, metus varius pellentesque lacinia, eros augue finibus massa, ut placerat orci sapien ut lacus. In tellus enim, convallis nec sem id, iaculis consectetur mauris. Donec pharetra ex libero, at viverra sem porta in. Sed at ex convallis ex consequat sollicitudin nec id nunc. Vestibulum sit amet finibus lectus, sed hendrerit mi. Duis quis velit elit. Integer sed est dui.

Cras eget fermentum metus.</p>

<p>Przejdź do strony <a href="{% url 'links:first_name' %}">pierwszej</p>
</body>
</html>